@charset "utf-8";

.titulo-3{
  font-size: calc(1rem + .8vw);
  font-weight: bold;
  text-align: center;
  color: black;
}

.form_primeira_foto .modal_foto .modal-header, .form_primeira_foto .modal_foto .modal-body, .form_primeira_foto .modal_foto .modal-content{
  border-radius: 5px;
  background-color: #ebf5f3;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
}

.form_primeira_foto .modal_foto .modal-content{
  padding: 3vh 1% 0;
}

.form_primeira_foto .modal_foto .botao_ok{
  width: 25%;
  padding: 1.3vh 0;
  border-radius: 5px;
  background-color: #3C808F;
  color:white;
  border: 0;
  margin: 0 37.5% 2vh;
}

.form_primeira_foto .modal_foto .primeira_foto_instituicao{
  width: 250px;
  margin: auto;
}

.form_primeira_foto .modal_foto .primeira_foto_instituicao figure{
  margin: 0;
}

.form_primeira_foto .modal_foto .primeira_foto_instituicao figure img{
  border-radius: 10px;
  width: 250px;
  height: 250px;
	object-fit: cover;
  margin: auto;
  border: 3px solid #3C808F;
}

.form_primeira_foto .modal_foto .primeiro_inserir_foto{
  cursor: pointer;
  color: white;
  background-color: #3C808F;
  position: relative;
  padding: .5vh 1%;
  left: 80%;
  bottom: 55px;
  height: 40px;
  border-radius: 50px;
}

.form_primeira_foto .modal_foto .primeiro_inserir_foto:hover{
  color: white;
}

.form_primeira_foto .modal_foto .primeiro_inserir_foto label{
  cursor: pointer;
}
/*  */